<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Lab003_M2_L3_AndroidApp.Lab003_M2_L3_AndroidApp" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Lab003_M2_L3_AndroidApp"></application>
</manifest>