<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Lab005_M3_L1_PhoneApp.Lab005_M3_L1_PhoneApp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<application android:label="Lab005_M3_L1_PhoneApp" android:icon="@drawable/Icon"></application>
</manifest>